-e ../../../tools/azure-devtools
-e ../../core/azure-core
../../appconfiguration/azure-appconfiguration
-e ../../identity/azure-identity
-e ../../keyvault/azure-keyvault-secrets
aiohttp>=3.9.2
-e ../../../tools/azure-sdk-tools
